<div class="pagination">
    <ul>
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% for pg in paginator.page_range %}
            {% if page_obj.number == pg %}
                <li class="active"><a href="?page={{ pg }}"><strong>Page {{ pg }}</strong></a></li>
            {% else %}
                <li><a href="?page={{ pg }}">Page {{ pg }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</div>