beautifulsoup4==4.4.1
Django==1.9.1
django-address==0.1.4
django-debug-toolbar==1.4
django-extras==0.3
jellyfish==0.5.2
jsonfield==1.0.3
Pillow==3.1.0
psycopg2==2.6.1
PyYAML==3.11
requests==2.9.1
selenium==2.48.0
six==1.10.0
sqlparse==0.1.18
